header {
	background:#1C4CE1;
	color:#fff;
}
.trans{
  width: 200px;
  background-color: FF4200;
}
.botones{
	width: 200px;
	background-color: #1C4CE1;
}
footer{
	background:#1C4CE1;
	color:#fff;
}
.color1{
	background:#F41E1E;
}
body{
	background:#F41E1E;
}
.atras{
	background: #05A3F2;
}
